{% include 'adminMenu.twig' %}
<div class="row">
    <div class="col s12">
        <h2>Управление вопросами</h2>
        <div class="input-field col s4">
            <form method="POST">
                <select class="browser-default" name="theme_select">
                    <option value="" disabled selected>Выберите тему вопросов</option>
                    {% for theme in themes %}
                        <option value="{{theme.id}}">{{theme.theme}}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="question_select" value="Отправить" />
            </form>
        </div>
    </div>
</div>
{% include 'adminFooter.twig' %}

