<!DOCTYPE html>
<html>
    <head>
        <title>Главная</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
        <link rel="stylesheet" href="/css/style.css"> <!-- Resource style -->
        <script src="/js/modernizr.js"></script> <!-- Modernizr -->
    </head>
    <body>
        <header>
            <h1>FAQ</h1>
        </header>
