{% include 'header.twig' %}
<a href="/diplom/public/">Главная </a> <br>
<a href="/diplom/public/Question"> Задать вопрос</a>
<p>Введите логин и пароль:</p>
<form method="POST" action="User">
    <input type="text" name="login" placeholder="Логин" />
    <input type="password" name="password" placeholder="Пароль" />
    <input type="submit" name="sign_in" value="Вход" />
</form>
{% include 'footer.twig' %}