<!DOCTYPE html>
{% include 'header.twig' %}
<a href="/">Главная </a> <br>
<a href="/User">Войти в панель администратора </a>
<section class="cd-faq">
    <form method="POST">
        <input type="text" name="name" placeholder="Имя" />
        <input type="text" name="email" placeholder="e-mail" />
        <label for="theme">Тема вопроса</label>
        <select name="theme">
            {% for menu in menus %}
                <option value="{{menu}}">{{menu}}</option>
            {% endfor %}
        </select>
        <p><textarea name="text" cols="70" rows="4"></textarea></p>
        <input type="submit" name="question_add" value="Отправить" />
    </form>
</section>
{% include 'footer.twig' %}


